@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800;900&display=swap');
:root {
  
  /* fonts family */
  --font-title: "Dela Gothic One", cursive;
  --font-main:'Montserrat', sans-serif;

  /* font weight */
  --font-thin: 200;
  --font-extralight: 400;
  --font-semibold: 600;
  --font-bold: 800;

  /* colors */
  --sky-300: #7cd3fc;
  --sky-600: #0084c7;

  /* Text */
  --text-slate-300: #cbd5e1;
  --text-slate-700: #3f3f46;

  /* Background */
  --bg-slate-900: #10172a;
  --bg-slate-50: #f8fafc;


  /* Media */
  --mobile: "min-width: 320px";
  --tablet: "min-width: 640px";
  --laptop: "min-width: 1024px";
  --desktop: "min-width: 1440px";

  /* Trasnition */
  --hover-transition: 200ms ease-out;
  --animation-transition: 350ms ease-out;
}

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: var(--mainFont);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}

img::selection {
  background-color: transparent;
}
p::selection, h1::selection{
  @apply bg-sky-400 text-white dark:text-black 
  
}

/**************************** Responsive design ****************************/
.main-container {
  width: 100%;
  margin: 0% auto;
  /* padding: 0.4rem 0.8rem; */
}

@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    max-width: 1224px;
  }
}

/**************************** Buttons ****************************/

button{
  font-family: var(--font-main);
  font-weight: 600;
  width: fit-content;
  padding: 0.7rem 1.6rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: .6rem;
}
.btn{
  background-color: white;
  color: var(--sky-600);
}
.main-btn{

  position: relative;
  overflow: hidden;
}
.main-btn::after{
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  width: 150%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.371);
  transform: rotate(-45deg);
  animation: btn-brighting 4s ease-out infinite ;
}
@keyframes btn-brighting {
  20%{
    right: calc(0% - 14rem);
  }
  100% {
    right: calc(0% - 14rem);
  }
}

/**************************** Typography ****************************/

/* Fonts */
.font-title {
  font-family: var(--font-title) !important;
}
.font-main {
  font-family: var(--font-main) !important;
}

/* Heading paragraph sizing */
.text-small-heading {
  font-size: 1.2rem;

}
@media (min-width: 640px) {
  .text-small-heading {
    font-size: calc(1.3rem + 0.2vw);
  }
}
@media (min-width: 1024px) {
  .text-small-heading {
    font-size: calc(1.2rem + 0.2vw);
  }
}

/* Images */
.image-size {
  width: calc(150px + 8vw);
}
@media (min-width: 640px) {
  .image-size {
    width: calc(10rem + 3.5vw);
  }
}
@media (min-width: 1024px) {
  .image-size {
    width: calc(12rem + 4.5vw);
  }
}
@media (min-width: 1280px) {
  .image-size {
    width: 18rem;
  }
}

/**************************** Buttons ****************************/

.cloud1{
  opacity: .5;
  top: 80%;
  width: 8rem;
  animation: cloud1-moving 60s -15s linear infinite alternate-reverse;
}
@keyframes cloud1-moving {
  0%   {    left: calc(100% + 3rem)}
  100% {  left: calc(-0% - 11rem)}
}
.cloud2{
  top: 67%;
  left: calc(100% + 14rem);
  width: 12rem;
  animation: cloud2-moving 60s -3s linear infinite alternate;
}
@keyframes cloud2-moving {
  0%   {    left: calc(100% + 14rem)}
  100% {      left: calc(-0% - 17rem)}
}
.plane{
  transform: rotate(6deg);
  top: 65%;
  width: 16rem;
  animation: plane-flying 30s -6s linear infinite ;
}

@keyframes plane-flying {
  0%   {    top: 60%;    left: -100%;}
  100% {   top: 88%;   left: 100%}
}
.plane2{
  top: 90%;
  width: 24rem;
  animation: plane2-flying 8s -1s linear forwards;
}
@keyframes plane2-flying {
  0%   {     top: 90% ; right: 0%;}
  100% {  top: 37% ;  right: calc(100% + 12rem)}
}
.star1{
  top: 15%;
  right: 5%;
  width: 0.5rem;
  animation: star-shining 3s infinite linear alternate;
}
@keyframes star-shining {
  0%   {     opacity: 1;}
  100% {  opacity: 0;}
}
.star2{
  top: 15%;
  left: 15%;
  width: 1rem;
  animation: star-shining 2s -1.5s infinite linear alternate;
}

.star3{
  top: 35%;
  right: 3%;
  width: 1rem;
  animation: star-shining 2s -2s infinite linear alternate;
}

.star4{
  top: 45%;
  right: 25%;
  width: 1rem;
  animation: star-shining 2s infinite linear alternate;
}

/**************************** Navbar ****************************/

.nav-open{
  width: 30px;
  height: 30px;
  position: relative;
  transition: .1s;
  margin: 10px 10px;
  cursor: pointer;
  display: inline-block;
  @apply hover:scale-105 duration-100  cursor-pointer 
}
.nav-open span{
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 5px;
  position: absolute;
  @apply bg-cyan-800 dark:bg-sky-400
}

.nav-open div:first-child span:nth-child(1){
  left: 0;
  top: 0;
}
.nav-open div:first-child span:nth-child(2){
  left: 12px;
  top: 0;
}
.nav-open span:nth-child(3){
  right: 0;
  top: 0;
}
.nav-open span:nth-child(4){
  left: 0;
  top: 12px;
}
.nav-open span:nth-child(5){
  position: absolute;
  left: 12px;
  top: 12px;
}
.nav-open span:nth-child(6){
  right: 0px;
  top: 12px;
}
.nav-open span:nth-child(7){
  left: 0px;
  bottom: 0px;
}
.nav-open span:nth-child(8){
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.nav-open span:nth-child(9){
  right: 0px;
  bottom: 0px;
}
.nav-open div:last-child span:nth-child(1), .nav-open div:last-child span:nth-child(2){
  position: absolute;
  left: -10%;
  bottom: 40%;
  width: 130%;
}
.nav-open div:last-child span:nth-child(1){
  transform: rotate(45deg);
}
.nav-open div:last-child span:nth-child(2){
  transform: rotate(-45deg);
}

/**************************** About ****************************/

.cloud-window{
  opacity: .5;
  top: 30%;
  right: 100%;
  width: 50%;
  animation: cloud-window-moving 20s -1s linear infinite alternate;
}
@keyframes cloud-window-moving {
  to {  right: -165%}
}

.window{
  border-radius: 50%;
}

.delay1{
  animation-delay: 10s;
}
.delay2{
  animation-delay: 20s;
}

.star-window{
  animation: star-shining 3s infinite linear alternate;
}
@keyframes star-window-shining {
  0%   {     opacity: 1;}
  100% {  opacity: 0;}
}

.MuiTimelineDot-filled{
  @apply bg-sky-400 !important;
}
.MuiTimelineConnector-root{
  @apply bg-sky-700 !important;
}

@media (min-width: 320px) { 
  canvas{
    height: 60px !important;
    width: 60px !important;
  }
  .MuiTimelineItem-root::before{
    display: none;
  }
  .projects{
    height: 450px
  }
 }
 @media (min-width: 640px) { 
  canvas{
    height: 80px !important;
    width: 80px !important;
  }
  .projects{
    height: 550px
  }
  }
 @media (min-width: 1024px) { 
  canvas{
    height: 120px !important;
    width: 120px !important;
  }
  .MuiTimelineItem-root::before{
    display: block !important;
  }
  .projects{
    height: 950px
  }

  .MuiTimelineItem-missingOppositeContent:nth-of-type(even){
    flex-direction: row-reverse !important;

  }
  .MuiTimelineItem-missingOppositeContent:nth-of-type(even) p {
    text-align: right !important;
  }
  }
  @media (min-width: 1440px) { 
  canvas{
    height: 140px !important;
    width: 140px !important;
  }
  .projects{
    height: 1050px
  }
  }
  
  /**************************** Projects ****************************/
  .projects div {
    overflow: hidden;
    cursor:url("/assets/cursor.png"),  auto;
    background-size: cover;
    position: relative;
    transition: 300ms;
  }
  .projects div:hover {
    transform: scale(1.01);
  }
  .projects div:nth-child(1){
    background-image: url('/projects/e-commerce.png');
  }
  .projects div:nth-child(1):hover {
    background-image: url('/projects/e-commerce2.png');
  }
  .projects div:hover::after{
    position: absolute;
    content: '';
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 70%;
  }
  .projects div:nth-child(1):hover::after{
    background-image: linear-gradient(to top, #6534e2d8 40%, transparent)
  }
  .projects div:nth-child(1):hover::before{
    content: 'E-commerce Website';
  }
  .projects div:hover::before {
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-family: var(--font-main);
    z-index: 2;
    color: white;
    @apply text-xs p-3 tablet:text-lg tablet:p-4 laptop:text-2xl laptop:p-6
  }
  .projects div:hover:not(:nth-child(2)) .project-icon {
   top: 80%;
   z-index: 3;
  }
  .projects div:nth-child(5){
    background-image: url('/projects/auth.png');
  }
  .projects div:nth-child(5):hover::after{
    background-image: linear-gradient(to top, #5d68fbe2 40%, transparent)
  }
  .projects div:nth-child(5):hover::before{
    content: 'Sign in and sign up';
  }
  .projects div:nth-child(2){
    background-image: url('/projects/quick-bricolage.png');
    background-position-y: 0%;
  }
  .projects div:nth-child(2):hover {
    background-position-y: 50%;
  }
  .projects div:nth-child(2):hover::after{
    background-image: linear-gradient(to top, #f0760cd0 40%, transparent)
  }
  .projects div:nth-child(2):hover::before{
    content: 'E-commerce website';
    max-width: 60%;
  }
  .projects div:nth-child(2):hover .project-icon {
    top: 90%;
    z-index: 3;
   }
  .projects div:nth-child(3){
    background-image: url('/projects/business.png');
    background-position-y: 80%;
  }
  .projects div:nth-child(3):hover {
    background-position-y: 0%;
  }
  .projects div:nth-child(3):hover::after{
    background-image: linear-gradient(to top, #9fcbf2df 40%, transparent)
  }
  .projects div:nth-child(3):hover::before{
    content: 'Sign in and sign up';
  }
  .projects div:nth-child(3):hover .project-icon {
    top: 90%;
    z-index: 3;
   }
  .projects div:nth-child(4){
    background-image: url('/projects/hello-world2.png');
    background-position-y: 80%;
  }
  .projects div:nth-child(4):hover {
    background-position-y: 0%;
  }
  .projects div:nth-child(4):hover::after{
    background-image: linear-gradient(to top, #6f28d9d5 40%, transparent)
  }
  .projects div:nth-child(4):hover::before{
    content: 'Freelance web app';
    max-width: 60%;
  }
  .projects div:nth-child(4):hover .project-icon {
    top: 78%;
    z-index: 3;
   }
   
 /**************************** Projects ****************************/

 