@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800;900&display=swap');

:root {
  
  /* fonts family */
  --font-title: "Dela Gothic One", cursive;
  --font-main:'Montserrat', sans-serif;

  /* font weight */
  --font-thin: 200;
  --font-extralight: 400;
  --font-semibold: 600;
  --font-bold: 800;

  /* colors */
  --sky-300: #7cd3fc;
  --sky-600: #0084c7;

  /* Text */
  --text-slate-300: #cbd5e1;
  --text-slate-700: #3f3f46;

  /* Background */
  --bg-slate-900: #10172a;
  --bg-slate-50: #f8fafc;


  /* Media */
  --mobile: "min-width: 320px";
  --tablet: "min-width: 640px";
  --laptop: "min-width: 1024px";
  --desktop: "min-width: 1440px";

  /* Trasnition */
  --hover-transition: 200ms ease-out;
  --animation-transition: 350ms ease-out;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: var(--mainFont);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

img::selection {
  background-color: transparent;
}

/**************************** Responsive design ****************************/
.main-container {
  width: 100%;
  margin: 0% auto;
  padding: 0.4rem 0.8rem;
}

@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    max-width: 1224px;
  }
}

/**************************** Buttons ****************************/

button{
  width: fit-content;
  padding: 0.7rem 1.6rem;
  border-radius: 50px;
  border: white 1px solid;
  display: flex;
  align-items: center;
  gap: .5rem;
  @apply dark:hover:text-black
}
.btn{
  background-color: white;
  color: var(--sky-600);
}
.main-btn{
  color: white;
  position: relative;
  overflow: hidden;
}
.main-btn::after{
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  width: 150%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.371);
  transform: rotate(-30deg);
  animation: btn-brighting 4s ease-out infinite ;
}
@keyframes btn-brighting {
  20%{
    right: calc(0% - 12rem);
  }
  100% {
    right: calc(0% - 12rem);
  }
}
.main-btn:hover{
  background-color: white;
  color: var(--sky-600);
}
/**************************** Typography ****************************/

/* Fonts */
.font-title {
  font-family: var(--font-title) !important;
}
.font-main {
  font-family: var(--font-main) !important;
}

/* Heading paragraph sizing */
.text-small-heading {
  font-size: 1.2rem;

}
@media (min-width: 640px) {
  .text-small-heading {
    font-size: calc(1.3rem + 0.2vw);
  }
}
@media (min-width: 1024px) {
  .text-small-heading {
    font-size: calc(1.2rem + 0.2vw);
  }
}

/* Images */
.image-size {
  width: calc(150px + 8vw);
}
@media (min-width: 640px) {
  .image-size {
    width: calc(10rem + 3.5vw);
  }
}
@media (min-width: 1024px) {
  .image-size {
    width: calc(10rem + 3.5vw);
  }
}
@media (min-width: 1280px) {
  .image-size {
    width: 15rem;
  }
}

/**************************** Buttons ****************************/

.cloud1{
  top: 80%;
  width: 8rem;
  animation: cloud1-moving 60s -15s linear infinite alternate-reverse;
}
@keyframes cloud1-moving {
  0%   {    left: calc(100% + 3rem)}
  100% {  left: calc(-0% - 11rem)}
}
.cloud2{
  top: 70%;
  left: calc(100% + 14rem);
  width: 12rem;
  animation: cloud2-moving 60s -3s linear infinite alternate;
}
@keyframes cloud2-moving {
  0%   {    left: calc(100% + 14rem)}
  100% {      left: calc(-0% - 17rem)}
}
.plane{
  transform: rotate(6deg);
  top: 65%;
  width: 16rem;
  animation: plane-flying 30s -6s linear infinite ;
}

@keyframes plane-flying {
  0%   {    top: 60%;    left: -100%;}
  100% {   top: 85%;   left: 100%}
}
.plane2{
  top: 90%;
  width: 24rem;
  animation: plane2-flying 8s -1s linear forwards;
}
@keyframes plane2-flying {
  0%   {     top: 90% ; right: 0%;}
  100% {  top: 37% ;  right: calc(100% + 12rem)}
}
.star1{
  top: 15%;
  right: 5%;
  width: 0.5rem;
  animation: star-shining 3s infinite linear alternate;
}
@keyframes star-shining {
  0%   {     opacity: 1;}
  100% {  opacity: 0;}
}
.star2{
  top: 15%;
  left: 15%;
  width: 1rem;
  animation: star-shining 2s -1.5s infinite linear alternate;
}

.star3{
  top: 35%;
  right: 3%;
  width: 1rem;
  animation: star-shining 2s -2s infinite linear alternate;
}

.star4{
  top: 45%;
  right: 25%;
  width: 1rem;
  animation: star-shining 2s infinite linear alternate;
}
